include README.md
include LICENSE.md
include CITATION.cff
include CHANGELOG.md
include CONTRIBUTING.md
include pyproject.toml
include requirements.txt
include environment.yaml
recursive-include test_data *.tif
